@font-face {
  font-family: Moi-Title;
  src: url(assets/fonts/OpenSans-Semibold.ttf) format("opentype");
}

@font-face {
  font-family: Moi-Text;
  src: url(assets/fonts/OpenSans-Light.ttf) format("opentype");
}
