$primary: #00366a;
$secondary: #079fde;
$tertiary: #f06a6b;
$light-rose: #ff9898;
$shadow-blue: #0363a6;
$light-blue: #089fde;

.home-container {

  .header {
    background: $primary;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;

    .bp-icon {
      display: flex;
      align-items: center;
    }

    .actions {
      display: flex;

      .btn {
        width: 50px;
        text-align: center;
        font-family: Moi-Title;
        padding: 5px;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;
        min-width: 80px;
      }

      .btn-tutor {
        background: $light-rose;
        color: white;
        border-bottom: 5px solid $tertiary;
      }

      .btn-player {
        background: $secondary;
        color: white;
        border-bottom: 5px solid $shadow-blue;
      }
    }
  }

  .panel-app {
    background-image: url(../../assets/images/header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 25rem;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: center;

    .store-container {
      width: 35%;
      color: white;
      margin: 0 5%;

      .buttons {
        width: 50%;
        display: flex;
        justify-content: space-between;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .panel-description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .description {
      width: 25%;
      text-align: justify;
      font-family: Moi-Title;
    }
  }

  .devider {
    background-image: url(../../assets/images/divisores.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 60px;
  }

  .panel-instructions {
    text-align: center;
    font-family: Moi-Title;

    h3 {
      color: #00366a;
    }

    .instructions {
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      .instruction {
        background-color: $light-blue;
        color: white;
        height: 50px;
        width: 160px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }

}
